extends layout

block content
    h1= title
    p This is ABOUT COUNTRIES, a wonderful web app that displays all sorts of wonderful information about the many countries that comprise our beautiful planet. Do you want to know about infant mortality rates in Nigeria? Well with this app, all that knowledge-- and more!-- is just a click away.
    img(src="/images/owl.png")
    p Also, we have a beautiful owl. Wow, that sure is beautiful.
