extends layout

block content
    h1= title
    label(for='country-select') Countries
    select(id='country-select' name='countries')
    #infobox
        h2(id='title')
        #population
        #employment-rate
        #spending
        #alcohol-consumption
        #internet-access
    
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='/javascript/cache.js')