extends layout

block content
    h1= title

    #info

    #infobox
        h2(id='title')
        #population
        #internet-access
        #employment-rate
        #spending
        #alcohol-consumption
    
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='/javascript/cache.js')