extends layout

block content
  h1= title
  p Welcome to #{title}, the land of the hooting men! We hope you survive your stay here, but it's no problem if you don't. We will simply use your corpse to further the human understanding of the nature of life and death! Whoo hoo!

  include navigation