extends index

block content
    p I am a donkey!

    #root
    #like_button_container

    include navigation
    script(src='/javascript/like_button.js')
    script(src='/javascript/tic_tac_toe.js')